@import "./variables.css";

/* =========================
BASE
========================= */

html,
body,
#root {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overscroll-behavior: none;
}

/* =========================
SCROLLBAR
========================= */

:root {
  --scrollbar-bg: #faf8f3;
  --scrollbar-thumb: #bda776;
  --scrollbar-thumb-hover: #a48c63;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg);
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-bg);
}

*::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 999px;
  border: 1px solid #00000008;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

/* =========================
LAYOUT SYSTEM
========================= */

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

/* вертикальный ритм сайта */

.section.hero,
.section.about
 {
  padding: 80px 0;
}
.section.services{
    padding: 45px 0;
}

.section.portfolio{
    padding: 15px 0;
}
/* =========================
HERO (единственная full-screen секция)
========================= */

.hero.section {
  min-height: 100vh;
  min-height: 100dvh;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
}

/* =========================
UTILITY
========================= */

.hidden {
  display: none;
}
.services__container,
.portfolio__container,
.rl-container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
