@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
:root {
  --forest: #0c6f38; /*Главный фирменный оттенок — используется для заголовков, кнопок, иконок*/
  --ivory: #faf8f3; /*Нежный, тёплый фон - основные секции сайта.*/
  --olive: #3b3b33; /*Основной цвет текста (приглушённый, не чёрный).*/
  --beige: #e8e3d0; /*Для карточек, цитат, футера-верхней части.*/
  --mossgray: #7a7a6c; /*Для описаний, вспомогательных надписей.*/
  --sandgold: #bda776; /*Для иконок, декоративных элементов, цитат, тонких линий*/
  --gold: #bda776; /*Для иконок, декоративных элементов, цитат, тонких линий*/
  --hoverbg: #2fae5d; /*Для лёгких анимаций кнопок и ссылок.*/
  --error: #d9644a; /*Если понадобится для форм или сообщений.*/
  --green: #2e572b;

  /* #70c24d*/

  --lime: #9ac42d;
  --border: #3e4c3a1f;
  --underline: #30b42d;
  --muted: #cfcbbe;
  --grad-a: #7ed957; /*Для градиентов, акцентов, hover-эффектов, иконок.*/
  --grad-b: #0e9f49; /*Для градиентов, акцентов, hover-эффектов, иконок.*/
  --card: #0f120f;

  --radius: 12px;

  --forest2: #2e572b;
  --forest1: #3e4c3a;
  --gold1: #bda776;
  --ivory1: #faf8f3;
  --olive1: #6c6a5a;
  --beige1: #e8e3d0;

  --h1: 48px;
  --h2: 36px;
  --h3: 20px;
  --text: 16px;
}

html,
body {
  background: var(--ivory);
  color: var(--forest);
  font-family: Inter, system-ui, Arial, sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Marcellus", serif;
  letter-spacing: 0.5px;
  font-weight: 400;
  color: #70c24d;
}
